body {
    background-image: url("game_over.gif");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    position: absolute;
    top:70%;
    left : 45%;
    font-style: italic;
    font-size: 120%;
    color: #CED8F6;
}

span{
    position: absolute;
    top:80%;
    left: 44%;
    font-style: italic;
    font-size: 120%;
    color: #CED8F6;
}